// Colors
$strongYellow: #FFD500;
$limeYellow: #FFF8D6;
$lightYellow: #FFFBE5;
$darkBlue: #2F2E41;
$paleBlue: #4E5166;
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
$font-xxl: 4rem;